.row
  .col-6
    = render partial: "users/profile", locals: { user: @user }
  .col-6
    %h1.hmb Списки
    .mb-4.ml-3
      - @lists.each do |list|
        .list-line
          .list-name-block
            = link_to "#{list.name}", user_list_path(@user.id, list)
          - if user_has_rights?(@user)
            .list-icon-block
              = link_to '<i class="fa fa-edit"></i>'.html_safe, edit_user_list_path(@user.id, list), title: "Редактировать"
              = link_to '<i class="fa fa-trash"></i>'.html_safe, user_list_path(@user.id, list), method: :delete, data: { confirm: 'Вы уверены' }, title: "Удалить"

    - if user_has_rights?(@user)
      = link_to 'Новый список',  new_user_list_path(current_user), class: "btn btn-primary border new-list-btn"
