.row
  .col-6
    = render partial: "users/profile", locals: { user: @user }
  .col-6
    %h1= @list.name
    .mb-2.ml-3
      - if @list.book_lists.empty?
        %p Список пуст
      -else
        - @list.book_lists.each do |book_list|
          .list-book-line
            .list-book-name
              = link_to "#{book_list.book.title}", book_path(book_list.book)
            - if user_has_rights?(@user)
              = link_to '<i class="fa fa-trash"></i>'.html_safe, book_list_path(book_list), method: :delete
