.row
  .col-6
    = render partial: "user/profile", locals: { user: @user }
  .col-6
    %strong Name:
    = @list.name
    %br/
    - @list.book_lists.each do |book_list|
      = book_list.book.title
      - if user_has_rights?(@user)
        = link_to "Delete book", book_list_path(book_list), method: :delete
    - if user_has_rights?(@user)
      = link_to 'Edit', edit_user_list_path(@user.id, @list.id)
    = link_to 'Back', user_lists_path(@user.id)
