= form_for([:admin, book]) do |book_form|
  - if book.errors.any?
    #error_explanation
      %h2
        = pluralize(book.errors.count, "error")
        prohibited this book from being saved:
      %ul
        - book.errors.full_messages.each do |message|
          %li= message
  .field
    = book_form.label "Название"
    = book_form.text_field :title
  .field
    = book_form.label "Серия"
    = book_form.text_field :series
  .field
    = book_form.label "id на лабиринте"
    = book_form.text_field :lb_id
  .field
    = book_form.label "ISBN"
    = book_form.text_field :isbn
  .field
    = book_form.label "Постер"
    = book_form.text_field :poster
  = book_form.fields_for :author_books do |author_book|
    = render "author_books_fields", f: author_book
  .links
    = link_to_add_association 'add author', book_form, :author_books, partial: "author_books_fields", wrap_object: Proc.new {|author_book| author_book.build_author; author_book}
  .actions
    = book_form.submit
