.row
  .col-6
    .container-devise
      %h3
        Редактировать профиль
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.label :email, content_tag(:span , "", class: ["fa", "fa-at"]).html_safe, id: "icon"
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email"
        .field
          = f.label :username, content_tag(:span , "", class: ["fa", "fa-user"]).html_safe, id: "icon"
          = f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "Имя"
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Ожидается подтверждения: #{resource.unconfirmed_email}
        .field
          %small.text-danger
            Пропустите, если не хотите менять
          %br
          = f.label :password, content_tag(:span , "", class: ["fa", "fa-lock"]).html_safe, id: "icon"
          = f.password_field :password, autocomplete: "new-password", placeholder: "пароль"
          - if @minimum_password_length
            %small.text-danger
              Пароль:
              (Минимум #{@minimum_password_length} символов)
        .field
          = f.label :password_confirmation, content_tag(:span , "", class: ["fa", "fa-lock"]).html_safe, id: "icon"
          = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "подтвердите пароль"
        .field
          %small.text-danger
            Подтвердите пароль для изменения
          %br
          = f.label :current_password, content_tag(:span , "", class: ["fa", "fa-lock"]).html_safe, id: "icon"
          = f.password_field :current_password, autocomplete: "current-password", placeholder: "текущий пароль"
        .actions
          = f.submit "Обновить", class: "btn btn-primary"
  .col-6
    .container-devise
      %h3 Удалить профиль
      %p
        Не понравилось?
        = button_to "Удалить мой профиль", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete, class: "btn btn-primary"
