= form_for([:admin, author]) do |form|
  - if author.errors.any?
    #error_explanation
      %h2
        = pluralize(author.errors.count, "error")
        prohibited this author from being saved:
      %ul
        - author.errors.full_messages.each do |message|
          %li= message
  .admin-field-form
    .field
      = form.label "Имя"
      = form.text_field :name
    .actions
      = form.submit
