.title-with-form.hmb
  %h1 Книги BLM
  = form_tag books_path, method: "get" do
    = text_field_tag :search, params[:search]
    = submit_tag "Искать книгу", class: "btn btn-primary"
.products-row-outer.responsive-cards
  .products-row
    - @books.each do |book|
      .card-column.card-column_gutter.relative
        /.product-cover
        .product-img
          =link_to image_tag(book.poster, class: "book-img-cover"), book_path(book), class: "cover"
          %span.product-hint
            #{book.reviews.count} рец.
        .product-index-info
          .product-title-link
            = link_to "#{book.title}", book_path(book)
          .product-author
            = author_link(book)

= paginate @books, outer_window: 3
