- flash.each do |type, message|
  = message

.row
  .col-8
    %h3.book-title
      = @book.title
      %br
    .text-secondary.mean-rating
      Средняя оценка: #{@book.mean_rating(@book)} #{star_color(@book.mean_rating(@book))}
    .row.book-info-block
      .col-4
        = image_tag @book.poster
      .col-8.book-info
        Автор: #{author_link(@book)}
        %br/
        Серия: #{@book.series}
        %br/
        ISBN: #{@book.isbn}
        %br/
        - if user_signed_in? && current_user.lists.present?
          = form_for @book_list  do |form|
            = form.collection_select :list_id, current_user.lists, :id, :name, class: "new_book_list"
            = form.hidden_field :book_id, value: @book.id
            %br/
            = form.submit 'Добавить в список', class: 'btn btn-primary btn-book-list'
  .col-4
    %h3 Отзывы:
    %p Читали? Поделитесь своим мнением.
    = link_to "Написать отзыв", new_book_review_path(@book.id), class: 'btn btn-primary btn-add-review'
    %hr
    = render partial: 'reviews/review', collection: @reviews.last(3).reverse

    = link_to "Загрузить все отзывы (#{@reviews.count})", book_reviews_path(@book.id)



