.review-form
  - if user_signed_in?
    = form_for [@book, @review] do |form|
      -form_errors_for(@review)
      .field
        = form.text_area :body, class: "review-text-block"
      .field.rating_block
        = form.label "Оценка: "
        = form.select :rating, Review::RATING
      .action
      - if controller.action_name == "new"
        = form.submit "Оставить отзыв", class: "btn btn-primary"
      - else
        = form.submit "Редактировать отзыв", class: "btn btn-primary"