%p#notice= notice
%p
  %strong Body:
  = @review.body
%p
  %strong Rating:
  = @review.rating
%p
  %strong User:
  = @review.user
%p
  %strong Book:
  = @review.book
= link_to 'Edit', edit_review_path(@review)
|
= link_to 'Back', reviews_path
