!!!
%html
  %head
    %title Blm
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    %link{"href" => "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", "rel" => "stylesheet"}
  %body.admin
    = render "shared/navbar_admin"
    %main.container
      = yield :form_errors
      = yield

